[{:id 2, :description "Join online Clojure session", :digest "clojure-session", :due-date "April 14", :completed true} {:id 3, :description "Code base upload onto cloud", :digest "cloud-upload", :due-date "2025-04-15", :completed true} {:id 3, :description "study more nlp functions from openai before April 30", :digest "nlp functions", :due-date "2025-04-30", :completed false} {:id 4, :description "Speech preparation for Hainan event", :digest "Hainan speech", :due-date "2025-04-12", :completed false}]